<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <title>Java 17 Super App</title>
</head>

<body>

    <div style="margin-top: 80px">

        <div class="card" style="width: 800px;">
            <div class="card-header colspan-10">
                <div class="row">
                    <div class="colspan-10">
                        <div th:if="${desProps !=null}" class="remark success " style="padding-top: 10px; margin: 2px">
                            <h4>Destination Bound Successfully</h4>
                        </div>
                        <div th:if="${desProps == null}" class="remark alert " style="padding-top: 10px; margin: 2px">
                            <h4>Destination could not be Bound!</h4>
                        </div>
                    </div>
                    <div class="colspan-1" style="padding: 20px;">
                        <a href="#" class="button secondary outline cycle" style="margin-right: 20px;" data-role="hint"
                            th:href="@{/app/}" role="button" data-hint-position="bottom" data-cls-hint="fg-black"
                            data-hint-text="Home">
                            <span class="mif-home" style="margin-left: 0px"></span>
                        </a>
                    </div>
                </div>

            </div>


            <div th:if="${desProps !=null}" class="row"
                style="padding-top: -10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px">

                <div class="colspan-11 " style="margin-left: 10px">
                    <h6 style="color: #4465a1">
                        Destination Name <span style="color: #B1365B" th:text="${desProps.baseUrl}"></span>
                    </h6>
                </div>

                <div class="colspan-11 " style="margin-left: 10px">
                    <h6 style="color: #4465a1">
                        Token <span style="color: #B1365B" th:text="${desProps.authToken}"></span>
                    </h6>
                </div>

            </div>


            <div th:if="${error !=null}"" class=" row"
                style="padding-top: -10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px">

                <label style="color: #6d89c2; font-weight: bolder;" th:text="${error}"></label>

            </div>



        </div>

    </div>
    <div>


    </div>

    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>

</html>